.operation-runbook-container {
  display: flex;
  height: auto;
  background-color: white;
  min-height: 100%;
}

.client-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: white;
  margin: 0;
  min-height: 100vh !important;
  width: 100%;
}

.sow {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding: 15px;
  border: 1px solid #bcbcbc;
  background-color: #efefef;
  height: 100vh;
}

.sla {
  display: flex;
  width: 80vw;
  border: 1px solid #bcbcbc;
  background-color: #efefef;
  height: 88vh;
}

.escalation_matrix {
  display: block;
  width: 80vw;
  border: 1px solid #bcbcbc;
  background-color: #efefef;
  height: auto;
}

.passwords_list {
  display: flex;
  width: 80vw;
  border: 1px solid #bcbcbc;
  background-color: #efefef;
  height: 88vh;
}

.assets_inventory {
  display: block;
  width: 80vw;
  border: 1px solid #bcbcbc;
  background-color: #efefef;
  height: 88vh;
}



.tab-frame {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  background-color: #37548d;
  border-radius: 9px;
  margin-bottom: 10px;
  gap: 10px;
}

.indicator {
  content: "";
  width: 185px;
  height: 32px;
  background: #ffffff;
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.tab {
  width: 180px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 180px;
  height: 28px;
  position: relative;
  color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.tab_label.active {
  color: #37548d;
}


.tab--1:checked~.indicator {
  left: 2px;
}

.tab--2:checked~.indicator {
  left: calc(190px + 2px);
}

.tab--3:checked~.indicator {
  left: calc(190px * 2 + 2px);
}

.tab--4:checked~.indicator {
  left: calc(190px * 3 + 2px);
}

.tab--5:checked~.indicator {
  left: calc(190px * 4 + 2px);
}



















.sidebar {
  width: 20%;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 2px 10px 10px 10px;
}

.search-box {
  border-radius: 4px;
  border: 1px solid #7e0d92;
  padding: 8px;
  margin-bottom: 10px;
}

.client-list {
  flex: 1;
  overflow-y: auto;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  padding: 0 0px;
  list-style-type: none;
  margin: 0;
}

.client-list li {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.client-list li:hover {
  background-color: #ddb4eb;
}




.asset-card {
  background-color: #fff;
  border: 1px solid #afafaf;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filters select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 150px;
}




.add-client-btn {
  background-color: #ffffff;
  border: 1px solid #7700aa;
  color: #7700aa;
  height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 7px;
}

.add-client-btn:hover {
  background-color: #7700aa;
  color: #ffff;
  border: 1px solid #7700aa;

}



















.add-client-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-client-modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 90%;
  text-align: center;
}

.add-client-modal-content h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.add-client-modal-content input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-client-modal-actions {
  display: flex;
  justify-content: space-between;
}

.add-client-modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-client-modal-actions button:first-child {
  background-color: #007bff;
  color: white;
}

.add-client-modal-actions button:last-child {
  background-color: #ccc;
  color: #333;
}










.add-asset-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-asset-modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 90%;
  text-align: center;
}

.add-asset-modal-content h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.add-asset-modal-content input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-asset-modal-actions {
  display: flex;
  justify-content: space-between;
}

.add-asset-modal-actions button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-asset-modal-actions button:first-child {
  background-color: #007bff;
  color: white;
}

.add-asset-modal-actions button:last-child {
  background-color: #ccc;
  color: #333;
}





.add-asset-btn {
  background-color: #ffffff;
  border: 1px solid #7700aa;
  color: #7700aa;
  width: 200px;
  margin: 5px;
  height: 35px;
  padding: 0;
  border-radius: 7px;
}

.add-asset-btn:hover {
  background-color: #7700aa;
  color: #ffff;
  border: 1px solid #7700aa;

}


























.upload-sow-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.upload-sow-modal .modal-content {
  display: block;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  height: 20%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

































.escalation_matrix_table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

.escalation_matrix_table th {
  color: white;
  background-color: #37548d !important;
  border: 1px solid #b5b5b5;
  padding: 5px;
  font-size: 18px;
}

.escalation_matrix_table td {
  border: 1px solid #b5b5b5;
  padding: 5px;
  text-align: left;

}










.assets-inventory-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

.assets-inventory-table th {
  color: white;
  background-color: #37548d !important;
  border: 1px solid #b5b5b5;
  padding: 5px;
  font-size: 18px;
}

.assets-inventory-table td {
  border: 1px solid #b5b5b5;
  padding: 5px;
  text-align: left;

}

















































.sow-buttons-frame{
  display: flex;
}






.upload-sow-pdf-button{
  padding: 10px 10px;
  margin: 0px 0px 10px 0px;
}

.delete-sow-pdf-button{
  padding: 10px 10px;
  margin: 0px 0px 10px 0px;
}