.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: #222222;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.tab-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  background-color: #444444;
  border-radius: 9px;
  margin-bottom: 10px;
  gap: 10px;
}

.indicator {
  content: "";
  width: 135px;
  height: 32px;
  background: #8900bf;
  position: absolute;
  top: 3px;
  left: 0px;
  z-index: 9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.tab--1:checked~.indicator {
  left: 2px;
}

.tab--2:checked~.indicator {
  left: calc(140px + 2px);
}

.tab--3:checked~.indicator {
  left: calc(140px * 2 + 2px);
}

.tab--4:checked~.indicator {
  left: calc(140px * 3 + 2px);
}






























.shifts-calendar {
  width: 100%;
  background-color: #212121;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #9e9e9e;
  overflow-x: auto;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.fc {
  min-height: 100%;
  min-width: 100%;
  height: 100% !important;
}

.fc-timegrid-slots {
  min-height: 80vh;
  /* Minimum height for slots area */
}

.fc-timegrid-slot {
  position: relative !important;
  height: 300px !important;
  /* Set fixed height for all slots */
  min-height: 275px !important;
  /* Ensure minimum height */
  max-height: 400px !important;
  overflow: visible !important;
}

.fc-timegrid-slot-label {
  display: flex;
  width: 85px;
  align-items: center;
  /* Vertically center the text */
  justify-content: center;
  /* Horizontally center the text */
  font-family: Calibri, sans-serif;
  font-size: 18px;
  background-color: #555;
  color: white;
  padding: 0 10px;
  /* Reduced padding to prevent overflow */
  text-align: center;
}

.fc-scrollgrid-section-header th:first-child {
  background-color: #555 !important;
}

.fc-timegrid-event {
  position: relative !important;
  height: 290px !important;
  width: 99.3% !important;
  left: 0 !important;
  display: block !important;
  margin: 4px 0px 0px 2px !important;
  min-height: 25px !important;
  z-index: auto !important;
  align-items: center !important;
  padding: 3px 5px 2px 5px !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  border-radius: 7px !important;
  transition: all 0.3s ease !important;
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}



.fc-daygrid-event {
  position: relative !important;
  height: auto !important;
  width: auto !important;
  left: 0 !important;
  display: block !important;
  margin: 0px 5px 3px 5px !important;
  z-index: auto !important;
  align-items: center !important;
  padding: 2px 5px 2px 5px !important;
  box-sizing: border-box !important;
  font-size: 15px !important;
  border-radius: 5px !important;
  transition: all 0.3s ease;
  color: white !important;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.fc-timegrid-event,
.fc-daygrid-event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
}

.fc-timegrid-event,
.fc-daygrid-event,
.fc-timegrid-event::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(140deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent);
}


.fc-daygrid-day-top {
  color: white;
}

.fc-daygrid-event:hover {
  box-shadow: #585858 0px 0px 2px !important;
  transform: scale(1.01) !important;
}

.fc-timegrid-event:hover {
  box-shadow: #585858 0px 0px 2px !important;
  transform: scale(1.01) !important;
}

.fc-timegrid-event-harness {
  width: 100% !important;
  left: 0 !important;
  display: block !important;
}

.fc-header-toolbar {
  font-family: Calibri, sans-serif;
  padding: 0 !important;
  margin: 0 0 15px 0 !important;
  /* Slightly increased margin */
}

.fc-toolbar-title {
  font-size: 28px;
  color: white;
}


.fc-button {
  background-color: #512890 !important;
  color: white !important;
  border: 1px solid white !important;
  font-family: Calibri, sans-serif;
  font-size: 18px !important;
  padding: 5px 16px !important;
  /* Slightly larger buttons */
  border-radius: 10px !important;
  margin: 0px 3px 0px 3px !important;
  transition: all 0.3s ease !important;
  height: auto !important;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}


.fc-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
  background-color: #00d0d7 !important;
  box-shadow: 0 0 20px #00d0d7 !important;
}

.fc-button-active {
  background-color: #257b7e !important;
  color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Day cell styles */
.fc-col-header-cell {
  background-color: #555;
  padding: 10px 0;
  color: white;
}

.fc-day-today {
  background-color: #257b7e !important;
}






.modal {
  position: absolute;
  background: #363636ac !important;
  backdrop-filter: blur(5px);
  min-height: 85%;
  padding: 25px 30px;
  max-width: 80%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: 2%;
  left: 10%;
  font-family: Calibri, sans-serif;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 555;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  color: #a970ff;
}




.modal button:hover {
  background-color: #471a6f;
  transform: translateY(-1px);
}

.modal p {
  font-size: 16px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-shift-btn {
  background-color: #512890 !important;
  color: white !important;
  border: 1px solid white !important;
  font-family: Calibri, sans-serif;
  font-size: 18px !important;
  padding: 9px 16px !important;
  border-radius: 10px !important;
  margin: 0px 0px 10px 3px !important;
  transition: all 0.3s ease !important;
  height: auto !important;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.add-shift-btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  background-color: #00d0d7 !important;
  box-shadow: 0 0 20px #00d0d7 !important;
}


.cab-status-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  color: white;
  font-family: Calibri, sans-serif;
}

.cab-status-list h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.cab-status-list ul {
  list-style-type: none;
  padding-left: 0;
}

.cab-status-list li {
  margin-bottom: 5px;
}











.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: no-wrap;
  min-height: 500px;
}

.left-section {
  flex: 1 1 25%;
  /* Make left smaller */
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.right-section {
  flex: 1 1 75%;
  /* Make right larger */
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.label1 {
  color: white;
  font-size: 16px;
}


.right-section textarea {
  flex: 1;
  resize: vertical;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  font-family: Calibri, sans-serif;
  min-height: 120px;
}

.modal-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 0;
  margin-top: 20px;
}

.modal-btn.save-btn {
  background-color: #6432b0;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.edit-btn {
  background-color: #2980b9;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.delete-btn {
  background-color: #c0392b;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.cancel-btn {
  background-color: #898339;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.notes-employee-select {
  width: 35%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #838383;
  border-radius: 4px;
  background-color: #f8f8f8;
}


.modal-btn {
  color: white;
  padding: 8px 14px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-btn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1 1 100%;
  }
}



















.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch+label {
  display: flex;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* ⬆️ Increased from 14px */
  color: #dcdcdc;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.checkbox-wrapper-35 .switch+label::before {
  content: '';
  background-color: #05012c;
  border-radius: 50px;
  height: 23px;
  /* ⬇️ slightly smaller */
  width: 44px;
  /* ⬇️ slightly smaller */
  margin-right: 10px;
  transition: background-color 0.2s ease-out;
  border: 2px solid #c1c1c1;
}

.checkbox-wrapper-35 .switch+label::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  /* ⬇️ slightly smaller */
  width: 20px;
  /* ⬇️ slightly smaller */
  position: absolute;
  top: 3px;
  left: 3.5px;
  transition: transform 0.2s ease-out;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-35 .switch:checked+label::before {
  background-color: hsl(272, 100%, 50%);
}

.checkbox-wrapper-35 .switch:checked+label::after {
  transform: translateX(21px);
  /* adjusted for smaller switch */
}

.checkbox-wrapper-35 .switch-x-text {
  margin-right: 5px;
  font-size: 16px;
  /* ⬆️ increased from 14px */
}

.checkbox-wrapper-35 .switch-x-toggletext {
  position: relative;
  width: 90px;
  height: 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  /* ⬆️ increased */
  line-height: 20px;
}

.checkbox-wrapper-35 .switch-x-unchecked {
  color: rgb(255, 46, 46);
}

.checkbox-wrapper-35 .switch-x-checked {
  color: rgb(0, 200, 0);
}


.checkbox-wrapper-35 .switch-x-unchecked,
.checkbox-wrapper-35 .switch-x-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.checkbox-wrapper-35 .switch-x-unchecked {
  opacity: 1;
  transform: translateY(0%);
}

.checkbox-wrapper-35 .switch-x-checked {
  opacity: 0;
  transform: translateY(100%);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
  opacity: 0;
  transform: translateY(-100%);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
  opacity: 1;
  transform: translateY(0%);
}

















.employees-checkboxes {
  max-height: 70vh;
  height: 69vh;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  color: #333333;
  user-select: none;
  gap: 10px;
  transition: color 0.3s;
}

.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .checkmark {
  width: 22px;
  height: 22px;
  border: 2px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, border-color 1s, transform 0.3s;
  transform-style: preserve-3d;
}

.custom-checkbox .checkmark::before {
  content: "✓";
  font-size: 16px;
  color: transparent;
  transition: color 0.3s, transform 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark {
  background-color: #8832ba;
  border-color: #333;
  transform: scale(1.05) rotateZ(360deg) rotateY(360deg);
}

.custom-checkbox input[type="checkbox"]:checked+.checkmark::before {
  color: #fff;
}

.custom-checkbox:hover {
  color: #6f009b;
  background-color: #eeeeee;
}

.custom-checkbox:hover .checkmark {
  border-color: #666;
  background-color: #eacbff;
  transform: scale(1.2);
}

.custom-checkbox input[type="checkbox"]:focus+.checkmark {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

.dropdown {
  padding: 8px 12px !important;
  width: 170px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2210%22%20height%3D%227%22%20viewBox%3D%220%200%2010%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%207%205-7z%22%20fill%3D%22%23333%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 7px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.dropdown:focus {
  border-color: #666;
  box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
  outline: none;
}







label {
  color: white;
}




.modal-content-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.left-div {
  flex: 1;
  /* smaller portion */
  min-width: 200px;
}

.right-div {
  flex: 2;
  /* larger portion */
  height: 72vh;
  overflow-y: auto;
  border-left: 1px solid #eee;
  padding-left: 20px;
}




.clusters_wrapper {
  display: block;
  width: 60vw;
  background-color: #212121;
  padding: 15px;
  border-radius: 12px;
  color: #ffffff;
  border: 1px solid #9e9e9e;
  overflow-x: auto;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.cluster_picker {
  padding: 5px;
  font-size: 16px;
  margin-left: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #353535;
  color: #ffffff;
}








.cluster_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: white;
}

.cluster_table th {
  color: white;
  background-color: #670097 !important;
  border: 1px solid #b5b5b5;
  padding: 5px;
  font-size: 18px;
}

.cluster_table td {
  border: 1px solid #b5b5b5;
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

.cluster_table th {
  background-color: #222222;
}

.cluster_table td {
  white-space: pre-wrap;
  cursor: text;
}








.add_user {
  margin-top: 25px;
}

.user_input {
  padding: 6px;
  font-size: 16px;
  margin-right: 20px;
  width: 180px !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #353535;
  color: #ffffff;
}

.cluster_input {
  padding: 6px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #353535;
  color: #ffffff;
}
