.shifts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 0;
  min-height: 90vh;
  width: 100%;
}

.shifts-calendar {
  width: 100%;
  max-width: 100%;
  background-color: #424242;
  padding: 15px 15px 15px 15px;
  border-radius: 12px;
  border: 1px solid #9e9e9e;
  overflow-x: auto;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.fc {
  min-height: 100%;
  min-width: 100%;
  height: 100% !important;
}

.fc-timegrid-slots {
  min-height: 80vh;
  /* Minimum height for slots area */
}

.fc-timegrid-slot {
  position: relative !important;
  height: 300px !important;
  /* Set fixed height for all slots */
  min-height: 275px !important;
  /* Ensure minimum height */
  max-height: 400px !important;
  overflow: visible !important;
}

.fc-timegrid-slot-label {
  display: flex;
  width: 85px;
  align-items: center;
  /* Vertically center the text */
  justify-content: center;
  /* Horizontally center the text */
  font-family: Calibri, sans-serif;
  font-size: 18px;
  background-color: #666;
  color: white;
  padding: 0 10px;
  /* Reduced padding to prevent overflow */
  text-align: center;
}

.fc-scrollgrid-section-header th:first-child {
  background-color: #666 !important;
}

.fc-timegrid-event {
  position: relative !important;
  height: 292px !important;
  width: 99.3% !important;
  left: 0 !important;
  display: block !important;
  margin: 3px 0px 0px 2px !important;
  min-height: 25px !important;
  z-index: auto !important;
  align-items: center !important;
  padding: 3px 5px 2px 5px !important;
  box-sizing: border-box !important;
  font-size: 15px !important;
  border-radius: 7px !important;
  transition: all 0.3s ease !important;
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}



.fc-daygrid-event {
  position: relative !important;
  height: auto !important;
  width: auto !important;
  left: 0 !important;
  display: block !important;
  margin: 0px 5px 3px 5px !important;
  z-index: auto !important;
  align-items: center !important;
  padding: 2px 5px 2px 5px !important;
  box-sizing: border-box !important;
  font-size: 15px !important;
  border-radius: 5px !important;
  transition: all 0.3s ease;
  color: white !important;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}

.fc-timegrid-event, .fc-daygrid-event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent);
}

.fc-timegrid-event, .fc-daygrid-event, .fc-timegrid-event::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(140deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent);
}


.fc-daygrid-day-top {
  color: white;
}

.fc-daygrid-event:hover {
  box-shadow: #ffffff 0px 0px 2px !important;
  transform: scale(1.016) !important;
}

.fc-timegrid-event:hover {
  box-shadow: #ffffff 0px 0px 2px !important;
  transform: scale(1.016) !important;
}

.fc-timegrid-event-harness {
  width: 100% !important;
  left: 0 !important;
  display: block !important;
}

.fc-header-toolbar {
  font-family: Calibri, sans-serif;
  padding: 0 !important;
  margin: 0 0 15px 0 !important;
  /* Slightly increased margin */
}

.fc-toolbar-title {
  font-size: 28px;
  color: white;
}


.fc-button {
  background-color: #512890 !important;
  color: white !important;
  border: 1px solid white !important;
  font-family: Calibri, sans-serif;
  font-size: 18px !important;
  padding: 5px 16px !important;
  /* Slightly larger buttons */
  border-radius: 10px !important;
  margin: 0px 3px 0px 3px !important;
  transition: all 0.3s ease !important;
  height: auto !important;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
}


.fc-button:hover {
  background-color: #278184 !important;
  cursor: pointer;
  transform: translateY(-1px);
}

.fc-button-active {
  background-color: #278184 !important;
  color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Day cell styles */
.fc-col-header-cell {
  background-color: #666;
  padding: 10px 0;
  color: white;
}

.fc-day-today {
  background-color: #278184 !important;
}










.modal {
  position: absolute;
  background: #363636ac !important;
  backdrop-filter: blur(5px);
  min-height: 85%;
  padding: 25px 30px;
  max-width: 80%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  position: relative;
  top: 8%;
  left: 10%;
  font-family: Calibri, sans-serif;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow:
    0 8px 30px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
  color: #a970ff;
}




.modal button:hover {
  background-color: #471a6f;
  transform: translateY(-1px);
}

.modal p {
  font-size: 16px;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.add-shift-btn {
  background-color: #6832ba;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 15px 2px;
  transition: all 0.3s ease;
}

.add-shift-btn:hover {
  background-color: #278184;
  transform: translateY(-1px);
}


.cab-status-list {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  color: white;
  font-family: Calibri, sans-serif;
}

.cab-status-list h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.cab-status-list ul {
  list-style-type: none;
  padding-left: 0;
}

.cab-status-list li {
  margin-bottom: 5px;
}











.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
  flex-wrap: no-wrap;
  min-height: 500px;
}

.left-section {
  flex: 1 1 25%;
  /* Make left smaller */
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.right-section {
  flex: 1 1 75%;
  /* Make right larger */
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.label1{
  color: white;
  font-size: 16px;
}


.right-section textarea {
  flex: 1;
  resize: vertical;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  font-family: Calibri, sans-serif;
  min-height: 120px;
}

.modal-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 0;
  margin-top: 20px;
}

.modal-btn.save-btn {
  background-color: #6432b0;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.edit-btn {
  background-color: #2980b9;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.delete-btn {
  background-color: #c0392b;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.modal-btn.cancel-btn {
  background-color: #898339;
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.8),
    inset 0 3px 2px rgba(255, 255, 255, 0.2),
    inset 0 -3px 2px rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) !important;
  transition: all 0.3s ease-in-out;
}

.notes-employee-select {
  width: 35%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}


.modal-btn {
  color: white;
  padding: 8px 14px;
  margin-top: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-btn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

@media (max-width: 768px) {
  .modal-content {
    flex-direction: column;
  }

  .left-section,
  .right-section {
    flex: 1 1 100%;
  }
}



















.checkbox-wrapper-35 .switch {
  display: none;
}

.checkbox-wrapper-35 .switch+label {
  display: flex;
  align-items: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  /* ⬆️ Increased from 14px */
  color: #dcdcdc;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.checkbox-wrapper-35 .switch+label::before {
  content: '';
  background-color: #05012c;
  border-radius: 50px;
  height: 23px;
  /* ⬇️ slightly smaller */
  width: 44px;
  /* ⬇️ slightly smaller */
  margin-right: 10px;
  transition: background-color 0.2s ease-out;
  border: 2px solid #c1c1c1;
}

.checkbox-wrapper-35 .switch+label::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  /* ⬇️ slightly smaller */
  width: 20px;
  /* ⬇️ slightly smaller */
  position: absolute;
  top: 3px;
  left: 3.5px;
  transition: transform 0.2s ease-out;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-35 .switch:checked+label::before {
  background-color: hsl(272, 100%, 50%);
}

.checkbox-wrapper-35 .switch:checked+label::after {
  transform: translateX(21px);
  /* adjusted for smaller switch */
}

.checkbox-wrapper-35 .switch-x-text {
  margin-right: 5px;
  font-size: 16px;
  /* ⬆️ increased from 14px */
}

.checkbox-wrapper-35 .switch-x-toggletext {
  position: relative;
  width: 90px;
  height: 20px;
  overflow: hidden;
  font-weight: bold;
  font-size: 16px;
  /* ⬆️ increased */
  line-height: 20px;
}

.checkbox-wrapper-35 .switch-x-unchecked {
  color: rgb(255, 46, 46);
}

.checkbox-wrapper-35 .switch-x-checked {
  color: rgb(0, 200, 0);
}


.checkbox-wrapper-35 .switch-x-unchecked,
.checkbox-wrapper-35 .switch-x-checked {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.checkbox-wrapper-35 .switch-x-unchecked {
  opacity: 1;
  transform: translateY(0%);
}

.checkbox-wrapper-35 .switch-x-checked {
  opacity: 0;
  transform: translateY(100%);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-unchecked {
  opacity: 0;
  transform: translateY(-100%);
}

.checkbox-wrapper-35 .switch:checked+label .switch-x-checked {
  opacity: 1;
  transform: translateY(0%);
}