.handover_wrapper {
    height: 100%;
    font-family: Calibri, sans-serif;
    background-color: #222222;
}

.handover_display {
    color: white;
    padding: 0px 20px 0px 20px;
}

.shift_info{
    width: 100%;
    background-color: #3d3d3d;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff;
    align-items: center;
}

.date_picker_section {
    margin-bottom: 0px;
}

.date_picker {
    margin: 0px 25px 0px 7px;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #333333;
    background-color: #cacaca;
    color: #000000;
    filter: invert(1);
}



.shift_picker {
    width: 150px;
    padding: 5px;
    margin: 0px 25px 0px 7px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #353535;
    color: #ffffff;
}

.cluster_picker {
    width: 150px;
    padding: 5px;
    margin: 0px 25px 0px 7px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #353535;
    color: #ffffff;
}

.disclaimer{
    width: 100%;
    font-size: 35px;
    margin: 15px 10px 15px 10px;
    font-weight: bold;
    color: #ff4141;
    text-align: center;
}

.table_title {
    color: white;
    font-size: 20px !important;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border: 1px solid #222222;
}

.team_members{
    width: 100%;
    margin-top: 8px !important;
}


.shift_info p {
    margin: 4px 0;
    
}

.handover_table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px 30px 0px;
    color: white;
}

.handover_table th {
    color: white;
    background-color: #670097 !important;
    border: 1px solid #b5b5b5;
    padding: 5px;
    font-size: 18px;
}

.handover_table td {
    border: 1px solid #b5b5b5;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.handover_table th {
    background-color: #222222;
}

.handover_table td {
    white-space: pre-wrap;
    cursor: text;
}

.status-important {
  background-color: #8f0000; /* light red */
}

.status-informational {
  background-color: #007b00; /* light green */
}
