.handover_wrapper {
    display: flex;
    justify-content: top;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.table_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #bcbcbc;
    background-color: #efefef;

}

.date_area {
    height: 40px;
    display: flex;
    background-color: #2e4575;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    padding: 5px;
    border: 2px solid #bcbcbc;
}

.date_display {
    margin-left: 2px;
    border-left: 5px solid #00b2de;
    color: white;
}

.date {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    color: white;
}


.date_picker input[type="date"] {
    color: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 26px;
    transform: scale(1.5);
    filter: invert(1);
}


.date_picker input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    cursor: pointer;
}


.table_wrapper {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    color: black;
}

.table_wrapper th {
    color: white;
    background-color: #2e4575;
    border: 1px solid #b5b5b5;
    padding: 5px;
    font-size: 16px;
}

.table_wrapper td {
    border: 1px solid #b5b5b5;
    height: 100px;      
    padding: 5px;
    font-size: 14px;
    vertical-align: top;
}















.cluster_label {
    margin-left: auto;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-right: 8px;
    align-self: center;
}



















.morning-row th {
    background-color: #26515e;
    color: white;
}

.afternoon-row th {
    background-color: #6a6525;
    color: white;
}

.night-row th {
    background-color: #642a72;
    color: white;
}

.morning-row {
    background-color: #ddf8ff; /* Light blue */
}

.afternoon-row {
    background-color: #fffee9; /* Light yellow */
}

.night-row {
    background-color: #fbebff; /* Light purple */
}

















.timeline_area {
    display: flex;
    background-color: #2e4575;
    flex-direction: row;
    margin-bottom: 5px;
    height: 40px;
    padding: 5px;
    border: 2px solid #bcbcbc;
    justify-content: space-between;
    align-items: center;
}

.ongoing_shift_display {
    margin-left: 2px;
    border-left: 5px solid #ffc107;
    color: white;
}

.ongoing_shift {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
    color: white;
}

.timeline_label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 8px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background-color: #28a745;
}

.yellow {
    background-color: #ffc107;
}

.red {
    background-color: #dc3545;
}











.shift_logout_button{
    width: 100%;
    height: 30%;
    background-color: #f6ca19;
}